In [36]:
import pandas as pd
import unittest
import csv
df = pd.read_csv('/Users/joonghochoi/Desktop/17445_SWEAI/kafka/demo/HW2/meow.csv')

In [37]:
df.head()

,time,user.id,movie.id,year,rating
0,2023-01-23T19:59:42,143499,theres+something+about+mary+1998,1998,4
1,2023-01-23T20:00:08,704712,free+willy+2+-+the+adventure+home+1998,1995,3
2,2023-01-23T20:02:43,298756,the+godfather+part+ii+1998,1974,5
3,2023-01-23T20:09:44,303997,the+brady+bunch+movie+1998,1995,2
4,2023-01-23T20:10,629902,unfaithful+1998,2002,4

In [42]:
df = pd.DataFrame({'column': ['abc123', 'def456', 'gh 789', 'jklmno']})

# check if there are any whitespace or space characters in the 'column' column
pattern = r'\s'
if df['column'].str.contains(pattern).any():
    print("There are whitespace or space characters in the 'column' column.")
else:
    print("There are no whitespace or space characters in the 'column' column.")

There are whitespace or space characters in the 'column' column.

In [8]:
print(df.columns)
print(df.columns[0]=="time")
print(df.columns[1]=="user.id")
print(df.columns[2]=="movie.id")
print(df.columns[3]=="year")
print(df.columns[4]=="rating")

Index(['time', 'user.id', 'movie.id', 'year', 'rating'], dtype='object')
True
True
True
True
True

In [26]:
isinstance(df['time'], pd.core.series.Series)

True

In [23]:
df['year'].dtype == 'int64'

True

In [22]:
df['rating'].dtype == 'int64'

True

In [19]:
df['user.id'].dtype == 'int64'

True

In [21]:
df['movie.id'].dtype == 'object'

True

In [24]:
type(df['time'])

pandas.core.series.Series

In [3]:
import pandas as pd
import unittest
import csv

class TestDataQuality(unittest.TestCase):

    def test_csv_file(self):
        # Open the CSV file
        #path=""
        path='/Users/joonghochoi/Desktop/17445_SWEAI/kafka/demo/HW2/meow.csv'
        df =pd.read_csv(path)
        # Check that the CSV file has the correct number of columns
        self.assertEqual(len(df.columns),5,"CSV file must have 5 columns")
        
            
           
            
#             # Check that the first column only contains integer values
#             for row in csv_reader:
#                 try:
#                     int(row[0])
#                 except ValueError:
#                     self.fail('First column must only contain integer values')
                    
#             # Check that the second column only contains float values
#             csv_file.seek(0)
#             next(csv_reader) # Skip header
#             for row in csv_reader:
#                 try:
#                     float(row[1])
#                 except ValueError:
#                     self.fail('Second column must only contain float values')
                    
#             # Check that the third column only contains string values
#             csv_file.seek(0)
#             next(csv_reader) # Skip header
#             for row in csv_reader:
#                 if not isinstance(row[2], str):
#                     self.fail('Third column must only contain string values')
                    
if __name__ == '__main__':
    unittest.main()

E
======================================================================
ERROR: /Users/joonghochoi/Library/Jupyter/runtime/kernel-a9f074f0-139c-483d-8a12-81fae4447577 (unittest.loader._FailedTest)
----------------------------------------------------------------------
AttributeError: module '__main__' has no attribute '/Users/joonghochoi/Library/Jupyter/runtime/kernel-a9f074f0-139c-483d-8a12-81fae4447577'

----------------------------------------------------------------------
Ran 1 test in 0.001s

FAILED (errors=1)

SystemExit: True

/Users/joonghochoi/miniconda3/envs/sweAI/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3405: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [4]:
unittest.main()

E
======================================================================
ERROR: /Users/joonghochoi/Library/Jupyter/runtime/kernel-a9f074f0-139c-483d-8a12-81fae4447577 (unittest.loader._FailedTest)
----------------------------------------------------------------------
AttributeError: module '__main__' has no attribute '/Users/joonghochoi/Library/Jupyter/runtime/kernel-a9f074f0-139c-483d-8a12-81fae4447577'

----------------------------------------------------------------------
Ran 1 test in 0.001s

FAILED (errors=1)

SystemExit: True

/Users/joonghochoi/miniconda3/envs/sweAI/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3405: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)